<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>


    <!-- 指定配置文件 -->
    <properties resource="jdbc.properties"/>

    <classPathEntry location="/MyTools/mysql-connector-java-5.1.47.jar"/>

    <context id="mysql-master" targetRuntime="MyBatis3DynamicSql" defaultModelType="conditional">
        <!-- 配置 JDBC 连接 -->
        <jdbcConnection driverClass="${jdbc.driver}"
                        connectionURL="${master_url}"
                        userId="${master_username}"
                        password="${master_password}">

        </jdbcConnection>

        <!-- Java 类型解析器 -->
        <javaTypeResolver>
            <!--  -->
            <property name="forceBigDecimals" value="false"/>
            <!-- 指定 DATE、TIME、TIMESTAMP 使用 JSR-10 数据类型 -->
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>

        <!-- Java 实体生成 -->
        <javaModelGenerator targetPackage="xyz.ieden.entity.UserInfo" targetProject="scr/main/java/"></javaModelGenerator>

        <!-- SQL 映射文件 -->
        <sqlMapGenerator targetPackage="user" targetProject=""></sqlMapGenerator>

        <!-- 接口文件 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="" targetProject=""></javaClientGenerator>

        <table tableName=""></table>
    </context>
</generatorConfiguration>